<%= form_for(@user) do |form| %>
  <%= render "shared/error_messages" %>

  <div class="form-control">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-control">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="form-control">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="form-control">
    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit "Update" %>
<% end %>